html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #799f0c, #acbb78);
}

.calculator {
    background: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.7);
}

.calculator-display {
    color:black;
    background: #799f0c;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    overflow-x: auto;
}

/*Buttons*/
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    min-height: 50px;
    font-size: 1.5rem;
    font-weight: 100;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(182, 182, 182);
} 

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

.operator {
    background: rgb(116, 114, 114);
    color: white;
    font-size: 1.8rem;
}

.clear {
    background: rgb(250, 64, 64);
    color:#fff;
}

.clear:hover {
    filter: brightness(85%);
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: rgb(17, 120, 255);
    color: #fff;
}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /*Media Query: Large Smartphones*/
  @media screen and  (max-width:600px) {
      .calculator {
          width: 95%;
      }
  }