body{
    margin: 0;
    padding: 0;
    background: rgb(67, 124, 150);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.container {
    width: 40vw;
}

h1 {
    text-align: center;
    color: rgb(3, 60, 126);
    font-size: 2rem;
}

ol {
    position: relative;
    padding: 10px ;
}

ol li {
    background: rgba(255, 255, 255, 0.2);
    list-style-type: none;
    padding: 0.6rem 1.25rem;
    color: #fff;
    height: 1.87rem;
    margin: 5px 5px;
    transition: .5s;
    border-radius: 5px;
    text-align: center;
}

ol li:hover {
    cursor: pointer;
    filter: brightness(90%);
}

a{
    color:rgb(196, 31, 31);
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}


@media screen and (max-width: 700px) {
    body{
        font-size: 1.1rem;
    }

    .main-container {
        margin-top: -2vh;
    }

    .container {
        width: 45vw;
    }
}